h1 {
    font-family: "Caprasimo", serif;
}

p {
    font-family: "Funnel Sans", sans-serif;
}

.quickfact {
    transition: all 0.4s, ease-in-out;
    background-color: var(--bs-secondary-bg);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.quickfact:hover {
    box-shadow: var(--bs-box-shadow);
    background-color: #26D2EC50;
    border-color: #26D2EC80;
}

.quickfact-icon {
    color: #26D2EC;
    font-size: calc(1.4rem + 1.8vw)
}

.quickfact:hover .quickfact-icon {
    font-size: calc(1.425rem + 2.1vw)
}

@media(min-width: 1200px) {
    .quickfact:hover .quickfact-icon {
        font-size: 3rem
    }
}

@media(min-width: 1200px) {
    .quickfact-icon {
        font-size: 2.75rem
    }
}